.toy{
 background: grey;
  position: absolute;
  top: 5vh;
  left: 15vw;
  width: 80vw;
  height: 90vw;
}
.game-area{
  position: absolute;
  top:0;
  left:0;
  /*for landscape*/
 height: 80vw; 
  width: 80vw; 
  background: blue;
}
.game-choices{
position: absolute;
  top: 80vw;
  left: 0%;
  width: 100%;
  background:red;
    padding: 2%;
    box-sizing: border-box;
}
body{
  cursor: default;
  overflow: hidden;
  font-size: 1em;
}


@keyframes toggle-animation{
  0%{
    box-shadow: none;
  }
  50%{
     box-shadow: .25vw .25vw 3vw .25vw inset, -.25vw -.25vw 3vw .25vw inset;
  }
  100%{
     box-shadow: .25vw .25vw .25vw white inset, -.25vw -.25vw .25vw white inset;
  }
}
.pressed{
 /* background: linear-gradient(black, transparent);*/
    /*box-shadow: .25vw .25vw 3vw .25vw inset, -.25vw -.25vw 3vw .25vw inset;*/
}

.row{
  position: absolute;
  left: 5%;
  width: 90%;
  height: 15%;
  display: flex;
}
.r1{
  top: 5%;
}
.r2{
  top: 20%;
}
.r3{
  top: 35%;
}
.r4{
 top: 50% 
}
.r5{
  top: 65%;
}
.square{
  /*border: 2px black solid;*/
  height: 100%;
  width: 20%;
  border-radius: 10%;
   box-shadow: .25vw .25vw .25vw white inset, -.25vw -.25vw .25vw white inset;
   text-align:center;
 cursor: pointer;
}

.on{
  background: pink;
}


.game-numbers{
  cursor: pointer;
}
.game-level{}
#help{
   cursor: pointer;
}
#help-text{
  display:none;
  background: pink;
  padding: 10%;
  position: absolute;
  left: 0;
  top: 0;
  width: 80vw;
  height: 80vh;
   
  
  
}

#help-text h1, #help-description{
  cursor: text;
}

#close{
  text-align:right;
  font-weight: bold;
  cursor: pointer;
}

#press{
  font-size: .75em;
}
@media(min-device-width : 400px){
  body{
   /* font-size: 1em;*/
  }
}

@media (min-aspect-ratio: 4/5) {
  .game-area {
     height: 45vw; 
  width: 45vw; 
  }
  .toy{
    height: 45vw;
  }
  .game-choices{
  position: absolute;
  top: 0;
  left: 45vw;
  height: 45vw;
  width: 35vw;
    padding: 2%;
    box-sizing: border-box;
    background: red;
  }
  #press{
    font-size: 1em;
  }
}