.game-area{
  background: grey;
  position: absolute;
  top: 5vh;
  left: 5vw;
  height: 30vw;
  width: 30vw;
}

.row{
  position: absolute;
  left: 5%;
  width: 90%;
  height: 30%;
  display: flex;
}
.r1{
  top: 5%;
}
.r2{
  top: 35%;
}
.r3{
  top: 65%;
}
.square{
  border: 2px black solid;
  height: 100%;
  width: 33%;
}

.on{
  background: pink;
}