//DEFAULT COLOURS
$game-area: #ff5252; //#00B0FF;//lightblue;
$off: white;
$on: #00b0ff; //#FFFF00;//pink;
$background: #ff5252; //white;
$game-choices: #1de9b6;
$text: black;
/*$button: white;
$button-on: grey;
$button-off: black;*/
$shadow: black 1px 1px 2px;

body,
html {
  cursor: default;
  overflow: hidden;
  font-size: 24px; //1em;
  // background: $background;
  font-family: "Share Tech Mono", monospace;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//GAME
.game-area {
  position: relative;
  height: 60vmin;
  width: 60vmin;
  // background: $game-area;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  position: relative;
  width: 100%;
  height: 15%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.square {
  /*border: 2px black solid;*/
  position: relative;
  height: 100%;
  width: 15%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  font-size: 6vmin;
  box-sizing: border-box;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

.tutorial:after {
  content: "\f25a";
  font-family: FontAwesome;
  animation: pulse 4s infinite;
  -webkit-animation: pulse 4s infinite;
}

@keyframes pulse {
  0%,
  10%,
  90%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  0%,
  10%,
  90%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

//CHOICES
.game-choices {
  //position: relative;
  height: 30vh;
  width: 100vw;
  padding: 0.5em 2em;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;

  /*display: flex;
  flex-direction: column;
  align-items: space-around;*/
}

.game-numbers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;
  font-size: 0.75em;

  // align-items: space-around;
}

.game-level {
  width: 22%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-bottom: 0.75vh;
  // background: $game-choices;
  display: flex;
  align-content: center;
  justify-content: space-around;
  cursor: pointer;
}
#random {
  width: 47%;
}
//EXAMPLE
.example {
  position: relative;
  max-width: 95%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  padding: 0 1%;
}
.on-icon,
.off-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.show-on,
.show-off {
  width: 1em;
  height: 1em;

  /*border: .25vmin solid black;
  box-sizing: border-box;*/
}
.explain-show {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.25em;
}
#arrow {
  width: auto;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

//SELECT THEME

.theme {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  width: auto;
  margin-top: 0.25em;
}

label {
  width: 1em;
  height: 1em;
  padding: 0.15em 0.25em;
}

input {
  display: none;
}

#christmas-label{
  font-size: 1.15em;
}
input:not(:checked) + #valentines-label:hover {
  color: #ffb0b0;
}
input:not(:checked) + #regular-label:hover {
  color: $on;
}
input:not(:checked) + #star-trek-label:hover {
  color: #ff9900;
}
input:not(:checked) + #halloween-label:hover {
  -webkit-filter: hue-rotate(270deg); /* Safari 6.0 - 9.0 */
  filter: hue-rotate(270deg);
}
input:not(:checked) + #christmas-label:hover {
  color: #d21625;
}

//THEMES THEMES THEMES
//ALT way opacity: 0; if there are cells below and the top cell has an image= fun theme.

//DEAFULT THEME
.on--regular {
  background: $on;
}
.off--regular {
  background: $off;
}
.background--regular {
  background: $background;
}
.game-area--regular {
  //  background: $game-area;
}
.game-level--regular {
  background: $game-choices;
}
.text--regular {
  color: black;
}

//CHRISTMAS THEME
.on--christmas {
  background: #145f4a;
  border-radius: 50%;
}
.off--christmas {
  background: #d21625;
  border-radius: 50%;
}
.off--christmas:before {
  font-family: FontAwesome;
  content: "\f06b";
  color: #d7d3c8; //black;
   
}
.background--christmas {
  background: #d7d3c8;
}
.game-area--christmas {
  color: black;
  font-size: 1.75em;
  margin-top: 0px;
}
.game-level--christmas {
  background: #d99703;
  color: black;
 font-size: 1.25em;
   font-family: "Share Tech Mono", monospace;
}
.text--christmas {
  color: #d21625;
  font-family: 'Mountains of Christmas', cursive;
  margin: 0px;
 font-size: .9em;
}

//STAR TREK
.on--star-trek {
  background: #cc6666;
  //background: #FF9966;
  border-radius: 30%;
}
.off--star-trek {
  background: #9999ff;
  // background: #CC99CC;
  border-radius: 30%;
}
.background--star-trek {
  background: #000000;
}
.game-area--star-trek {
}
.game-level--star-trek {
  border-radius: 30%;
  background: #ff9900;
  color: black;
}
.text--star-trek {
  color: #ffffff;
}
.help--star-trek {
  background: black;
}

//HALLOWEEN
/*.on--halloween{
  background: #a73ae7; 
}
.off--halloween{    
  background: #ff7b0f;
}
.background--halloween{	
background: #000000;
}
.game-level--halloween{ 
background: #f93636;
}
.text--halloween{
  color: white;
}
*/

//Valentines THEME
.on--valentines {
  background: #ff9696; //#FFBDBD;//white;//#402525;// #FFFF96;
}

.off--valentines {
  background: white;
}
.off--valentines:before {
  font-family: FontAwesome;
  content: "\f004";
  color: #ff9696;
}
.game-area--valentines {
}
.game-level--valentines {
  background: #ffb0b0; //#FF9696;//#FFCB96;//$game-area;
}
.text--valentines {
  color: #402525; //#603838;
  font-family: 'Great Vibes', cursive;
}
.help--valentines{
  background: #ffe5e5;
}
.background--valentines {
  background: #ffe5e5;
}

//HELP

#help {
  cursor: pointer;
}
#help-text {
  display: none;
  // background: $on;
  padding: 10%;
  position: absolute;
  left: 0;
  top: 0;
  width: 80vw;
  height: 80vh;
  line-height: 2em;
}

#help-text h1,
#help-description {
  cursor: text;
}

#close {
  text-align: right;
  font-weight: bold;
  cursor: pointer;
}

#close i:hover {
  text-decoration: underline;
  text-decoration-style: double;
}
.inline {
  display: inline-block;
}

/*@media(max-height: 600px) {
  .toy{
    height:85vh;
    font-size: 1em;
  }
}*/
/*landscape*/
@media (min-aspect-ratio: 1/1) {
  body,
  html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .game-choices {
    /*  position: absolute;
 top: 30%;
  left: 55%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 30vw;
    padding: 2%;
    box-sizing: border-box;
  }
  .game-level {
    font-size: 1.25em;
  }
  .example {
    padding: 0 0.5em;
  }
  #press {
    // font-size: 1em;
    // color: yellow;
  }
}

@media (max-width: 400px), (max-height: 500px) {
  body,
  html {
    font-size: 18px;
  }

  .game-level,
  #random {
    padding: 1vmin 2vmin;
    margin: 1%;
    width: auto;
  }
  .game-numbers {
    justify-content: space-around;
  }
  h1 {
    margin-bottom: 0;
  }
  .example {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    padding: 0;
  }
  .theme {
    padding-top: 0;
  }
}

@media (max-height: 500px) {
  .game-area {
    width: 50vmin;
    height: 50vmin;
  }
  .game-level,
  #random {
    padding: 1vmin;
    margin: 1%;
    width: auto;
  }
}
@media (max-width: 300px), (max-height: 350px) {
  //how does dp work?
  body,
  html {
    font-size: 16px;
  }

  .game-number-buttons,
  #arrow {
    display: none;
  }

  .on-icon {
    margin-right: 5%;
  }
}

@media (max-height: 350px) {
  .title {
    display: none;
  }
  .content {
    position: absolute;
    top: 5vmin;
  }
}

@media (max-height: 200px), (max-width: 250px) {
  .title {
    display: none;
  }
  #game-name {
    display: none;
  }
  .theme {
    display: none;
  }
}
@media (max-height: 130px) {
  .example {
    display: none;
    background: green;
  }
}
@media (max-height: 150px) and (max-width: 150px) {
  .game-choices {
    display: none;
  }
  .game-area {
    width: 80vmin;
    height: 80vmin;
  }
}
@media (max-width: 150px) and (max-height: 300px) {
  .theme {
    display: none;
  }
}
